cython=0.29.30
imageio=2.22.0
libpng=1.6.37
matplotlib=3.5.2
networkx=2.6.3
numpy=1.21.6
opencv-python=4.5.3.56
pillow=9.1.1
pycocotools=2.0.4
python=3.7.13
scikit-image=0.19.2
scipy=1.7.3
shapely=2.0.1
torch=1.9.1+cu111
torchvision=0.10.1+cu111
tqdm=4.64.0
